html,body,.App,#root{
  height: 100%;
  max-height: 812px;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-image: url(pics/salad.jpg);
  background-position: center 33px;
  background-attachment: fixed;
  overflow: hidden;
  overflow-y: scroll;

}
.buttonsContainer li{
  margin: 20px 0;

}
.centerize{
  display: flex;
  min-height:100%; 
  flex-direction: column;
 
}
.switch{
  margin-bottom: auto;
  margin-top:auto;
}
form{
  padding:20px;
  margin-top:60px;

}
form button, form h5{
  margin:20px 0;
}
.funcButton{
  border-radius: 15px;
}
.signUp{
  margin-bottom:60px;
}